<h1>Login Creation</h1>
<table>
<%= form_for :data, :url=>{:action=>"view"} do |f|%>
<tr><td><%= f.label :"LogID" %></td>
<td><%= f.text_field:logid%></td></tr>
<tr><td><%= f.label :"Password" %></td>
<td><%= f.password_field :pwd%></td></tr><br>
<tr><td><%= f.submit :"Click"%></td></tr>
<% end %>
</table>
<%= link_to "Click here to Signup",:controller=>"message",:action=>"create"%>

